/* Contenedor del carrusel */
.carrusel-container {
  
  width: 100%;
  padding: 20px;          
  height: 400px;        
  margin: 0 auto;       
  overflow: hidden;
  position: relative;
  border-radius: 30px;


}

/* Imagen del carrusel */
.imagenes-carrusel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
