/* para que no se vea mal los componentes que ponga xd */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /*header */
}
.header {
    display: flex;
    align-items: center;
    background: #FAFAFA;
    justify-content: space-between;
    padding: 12px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
/*logo*/
.logo-titulo {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #12647b;
    cursor: pointer;
    margin: 10px;
    
}
.logo-imagen {
    height: 40px;
    margin-right: 5px;
}
/* botones del header */
.botones{

    text-align: left;
    display: flex;
    gap: 30px;
}

.botones a {
    text-decoration: none;
    font-weight: 700;
    color: #540b0e;
    transition: color 0.3s ease;
}

.botones a:hover{
    color: #00afb9;
}

/*carrito de compras */
.carrito {
    position: relative;
    cursor: pointer;
    color: #a47e1b;
    transition: color 0.3s ease;
}

.carrito:hover {
    color: #d9bf77;
}

.carrito-conteo {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #6e0d25;
    color: white;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 50%;
}